.hero-unit {
    background-image: url(../Images/groomed_corduroy.JPG);
    background-repeat: none;
    background-size: cover;
}

.hero-unit {
    color: black;
}

#available-loading {
    height: 10px;
    position: relative;
    /*background-color: gray; /* for demonstration */*/
}

#selected-loading {
    height: 10px;
    position: relative;
    /*background-color: gray; /* for demonstration */*/
}
.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

#loginDialog {

    width: 35%;
}