<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="span6">
            <h2 class="well">Employee Information
                <div id="employee-loading">
                    <img src="~/Images/ajax-loader.gif" class="ajax-loader" />
                </div>
            </h2>

            <div class="input-prepend">
                <span class="add-on">Title</span>
                <input readonly="readonly" data-bind="value: $root.employeeTitleDesc" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">Type</span>
                <input readonly="readonly" data-bind="value: $root.employeeTypeDesc" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">Roster Id</span>
                <input readonly="readonly" data-bind="value: $root.rosterId" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">Local</span>
                <input readonly="readonly" data-bind="value: $root.isLocal" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">Current</span>
                <input readonly="readonly" data-bind="value: $root.current" />
            </div>
            <br />
                    
        </div>
        <div class="span6">
            <h2 class="well">Personal Information
                <div id="personal-loading">
                    <img src="~/Images/ajax-loader.gif" class="ajax-loader" />
                </div>
            </h2>

            <div class="input-prepend">
                <span class="add-on">First Name</span>
                <input readonly="readonly" data-bind="value: $root.firstName" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">Last Name</span>
                <input readonly="readonly" data-bind="value: $root.lastName" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">Middle Name</span>
                <input readonly="readonly" data-bind="value: $root.middleName" />
            </div>
            <br />
            <div class="input-prepend">
                <span class="add-on">DOB</span>
                <input readonly="readonly" data-bind="value: $root.dateOfBirth" />
            </div>
            <br />
        </div>
    </div>

    <hr />

     <div class="row">
        <div id="selected-schedules" class="span12">
            <h2 class="well">Schedule 
                <button type="button" data-toggle="modal" data-target="#addScheduleModal">+</button>

                <div id="selected-loading">
                    <img src="~/Images/ajax-loader.gif" class="ajax-loader" />
                </div>
            </h2>

            

            <div id="schedule-alerts">

                <!-- ko if: isLocal -->
                <div class="alert alert-success" data-bind="visible: schedules().length >= 32">
                    <span>Congratulations! You have selected the 32 required shifts.</span>
                </div>
                <div class="alert alert-danger" data-bind="visible: schedules().length < 32">
                    <span>The minimum 32 required shifts have NOT been selected.</span>
                </div>
                <!-- /ko -->

                <!-- ko if: !isLocal -->
                <div class="alert alert-success" data-bind="visible: schedules().length >= 20">
                    <span>Congratulations! You have selected the 20 required shifts.</span>
                </div>
                <div class="alert alert-danger" data-bind="visible: schedules().length < 20">
                    <span>The minimum 20 required shifts have NOT been selected.</span>
                </div>
                <!-- /ko -->

                <div class="alert alert-info">
                    <span>You currently have <span data-bind="text: schedules().length"></span> shifts.</span>
                </div>

                <div data-bind="visible: schedules().length === 0">
                    <p>No shifts have been selected.</p>
                </div>

            </div>

            <table data-bind="visible: schedules().length > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: schedules">
                    <tr data-bind="attr: { id: id }">
                        <td data-bind="text: date"></td>
                        <td data-bind="text: start"></td> 
                        <td data-bind="text: end"></td>
                        <td><button data-bind="click: $parent.removeScheduleItem", value="id">Remove</button></td>
                    </tr>
                </tbody>
            </table>
            </div>
      </div>
</div>

<!-- Add Schedule Modal -->

<div id="addScheduleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addScheduleLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="addModalLabel">Available Shifts
                <div id="available-loading">
                    <img src="~/Images/ajax-loader.gif" class="ajax-loader" />
                </div>
        </h3>
@*        <br />*@
        
    </div>
    <div class="modal-body">
        <ul class="nav nav-pills">
          <li class="active">
              <a id="0" href="#" data-toggle="pill" data-bind="click: filterAvailableSchedule">All</a>
          </li>
          <li>
              <a id="12" href="#" data-toggle="pill" data-bind="click: filterAvailableSchedule">December</a>
          </li>
          <li>
              <a id="1" href="#" data-toggle="pill" data-bind="click: filterAvailableSchedule">January</a>
          </li>
          <li>
              <a id="2" href="#" data-toggle="pill" data-bind="click: filterAvailableSchedule">February</a>
          </li>
          <li>
              <a id="3" href="#" data-toggle="pill" data-bind="click: filterAvailableSchedule">March</a>
          </li>
        </ul>

            <div data-bind="visible: availableSchedules().length === 0">
                <p>No shifts are currently available.</p>
            </div>
            
            <table data-bind="visible: availableSchedules().length > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: availableSchedules">
                    <tr data-bind="attr: { id: id }">
                        <td data-bind="text: date"></td>
                        <td data-bind="text: start"></td> 
                        <td data-bind="text: end"></td>
                        <td><button data-bind="click: $parent.addScheduleItem, value: id">Add</button></td>
                    </tr>
                </tbody>
            </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<script src="~/Scripts/app/employee.js"></script>