@{
    ViewBag.InitModule = "schedulesIndex";
}

@section Scripts {
    <script src="~/Scripts/controllers/schedulesIndexController.js"></script>
    <script src="~/Scripts/services/scheduleService.js"></script>
}
<br /><br /><br />
<div data-ng-view=""></div>
