<div class="container">
    <div class="row">

        <form class="span12">
            <h2 class="well">Employee Management</h2>

            <div class="progress progress-striped active" data-ng-show="isLoading">
                <div class="bar" style="width: 100%;"></div>
            </div>

            <table class="table table-striped" data-ng-show="!isLoading">
                <thead>
                    <th>Action</th>
                    <th>Roster Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Current</th>
                    <th>Local</th>
                </thead>
                <tbody data-ng-repeat="e in data.employees">
                    <tr>
                        <td>
                            <button class="btn" data-ng-click="showDetails(e)">View</button>
                            <button class="btn" data-ng-click="editDetails(e)">Edit</button>
                            <!--<button data-ng-click="deleteDetails(e)">Delete</button>-->
                        </td>
                        <td>{{ e.RosterId }}</td>
                        <td>{{ e.Person.LastName }}, {{ e.Person.FirstName }} {{ e.Person.MiddleName }}</td>
                        <td>{{ e.Person.Gender.Description }}</td>
                        <td>{{ e.EmployeeTitle.Name }}</td>
                        <td>{{ e.EmployeeType.Description }}</td>
                        <td>{{ e.Current }}</td>
                        <td>{{ e.IsLocal }}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div id="viewEmployee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Details</h3>
    </div>
    <div class="modal-body">

        <div class="input-prepend">
            <span class="add-on">Roster Id</span>
            <input id="rosterId" readonly data-ng-model="selectedItem.RosterId" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Current</span>
            <input id="current" readonly data-ng-model="selectedItem.Current" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Local</span>
            <input id="isLocal" readonly data-ng-model="selectedItem.IsLocal" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Type</span>
            <input id="typeDescription" readonly data-ng-model="selectedItem.EmployeeType.Description" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Title</span>
            <input id="titleDescription" readonly data-ng-model="selectedItem.EmployeeTitle.Description" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Current</span>
            <input id="lastName" readonly data-ng-model="selectedItem.Person.LastName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Current</span>
            <input id="firstName" readonly data-ng-model="selectedItem.Person.FirstName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Current</span>
            <input id="middleName" readonly data-ng-model="selectedItem.Person.MiddleName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Gender</span>
            <input id="gender" readonly data-ng-model="selectedItem.Person.Gender.Description" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div id="editEmployee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Edit</h3>
    </div>
    <div class="modal-body">

                <div class="input-prepend">
                    <span class="add-on">Roster Id</span>
                    <input id="Text2" data-ng-model="selectedItem.RosterId" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Current</span>
                    <select id="Select1" class="controls">
                        <option value="1">true</option>
                        <option value="2">false</option>
                    </select>
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Local</span>
                    <select id="Select2" class="controls">
                        <option value="1">true</option>
                        <option value="2">false</option>
                    </select>
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Type</span>
                    <select id="employeeType" data-ng-model="selectedItem.EmployeeType.Id" data-ng-options="t.Id as t.Description for t in data.employeeTypes"></select>
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Title</span>
                    <select id="employeeTitle" data-ng-model="selectedItem.EmployeeTitle.Id" data-ng-options="t.Id as t.Description for t in data.employeeTitles"></select>
                </div>
                
                <hr />

                <div class="input-prepend">
                    <span class="add-on">Last Name</span>
                    <input id="Text1" data-ng-model="selectedItem.Person.LastName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">First Name</span>
                    <input id="Text3" data-ng-model="selectedItem.Person.FirstName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Middle Name</span>
                    <input id="Text4" data-ng-model="selectedItem.Person.MiddleName" />
                </div>
                <br />
                <div class="input-prepend">
                    <span class="add-on">Type</span>
                    <select id="Select3" data-ng-model="selectedItem.Person.Gender.Id" 
                                        data-ng-options="t.Id as t.Description for t in data.genders"></select>
                </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-ng-click="editEmployee(selectedItem)">Save</button>
    </div>
</div>

<div id="deleteEmployee" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dlglabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Delete</h3>
    </div>
    <div class="modal-body">

        <div class="input-prepend">
            <span class="add-on">Roster Id</span>
            <input id="Text1" readonly data-ng-model="selectedItem.RosterId" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Last Name</span>
            <input id="lastName" readonly data-ng-model="selectedItem.Person.LastName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">First Name</span>
            <input id="firstname" readonly data-ng-model="selectedItem.Person.FirstName" />
        </div>
        <br />
        <div class="input-prepend">
            <span class="add-on">Middle Name</span>
            <input id="middleName" readonly data-ng-show="selectedItem.Person.MiddleName.length" data-ng-model="selectedItem.Person.MiddleName" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Delete</button>
    </div>
</div>
