<!-- View Employee Modal -->
<div data-ng-controller="viewEmployeeController" id="viewEmployeeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="viewEmployeeLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="viewModalLabel">Employee Info</h3>
    </div>
    <div class="modal-body">
        
        View View View

        <div>
            {{ test }}
        </div>
          

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>